@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

/*GENERAL*/

        * {
          box-sizing: border-box;
        }

/*INDEX PAGE*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.title-block {
  padding: 20rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}


.title {
  color: #47555e;
  text-decoration: none;
  margin: 2vh auto;
  line-height: 1.15;
  font-size: 3vw;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  border-radius: 15px;
  padding: 3vh 1vw;
  text-shadow: 1px 1px #C9FEF8;
}

.description{
   border-radius: 15px;
  color: #47555e;
  padding: 3vh 1vw;
  text-shadow: 1px 1px #C9FEF8;
  line-height: 1.5;
  font-size: 1.5vw;
}


/*FOOTER*/

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: #47555e;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C9FEF8;
  
}

/*NAVBAR*/

nav{
  width: 100vw !important;
  background-color: #C9FEF8;
}

.nav-item .nav-link {          
  color: #47555e !important;
  font-size: 1.3rem;
  text-decoration: underline;
  font-weight: 600;
}

.nav-item .nav-link:hover,
.nav-item .nav-link:focus,
.nav-item .nav-link:active{
  color: #2C3333 !important;
  text-decoration: none;
}

.navbar-nav{
  margin: auto;
}

.search-btn{
  color: #47555e !important;
  border: 1px solid #47555e !important;
}

.search-btn:hover{
  color: #eeeeee !important;
  background-color: #47555e !important;
}

.navbar-toggler-icon{
  color: #47555e !important;
}



/*CONTACT FORM*/

#name, #firstName, #email{
  width: 50vw;
  height: 4vh;
  display: block;
  margin: 1vh auto;
}

#message{
  height: 20vh;
  width: 80%;
  display: block;
  margin: 1vh auto;
}

.contact-form{
  width: 70%;
  background-color: #47555E;
  color: #eeeeee;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
}

.contact-bloc{
  max-height: 30%;
}
       
.input-txt{
  width: 100%;
  padding: 12px 20px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 8px;
  box-sizing: border-box;
}

.input-txt-area{
  width: 100%;
  padding: 12px 20px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 8px;
  box-sizing: border-box;
}

.btn-submit{
  width: 20%;
  display: block;
  margin: 2vh auto;
  color: #eeeeee!important;
  border: 1px solid #eeeeee !important;
  
}

.btn-submit:hover,
.btn-submit:focus,
.btn-submit:active{
  background: #eeeeee !important;
  color: #47555E !important;
}

.error-msg{
  font-weight: 200;
  color: red;
}

.thk-txt{
  text-align: center;
  margin: 2vh auto;
}

.back-link{
  color: #47555e;
  text-decoration: none;
  font-weight: 900;
}

.back-link:hover{
  color: #47555e;
  text-decoration: underline;
}

/*PRICES PAGE*/

.col-4{
  background-color: rgba(71, 85, 96, .8);
  color: #eeeeee;
  width: 20vw;
  
}


      

@media (max-width: 600px) {

 .title{
  font-size: 6vw;
}

.description{
  font-size: 1.5rem;;
}

.title-block {
  padding: 50% 0;
} 
          
.nav{
  margin: 25vh auto !important;
}  
}

/*GENERAL*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;
  background-image: url('/bg.jpeg') ;
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
  min-height: 100vh;
  max-width: 100vw;
}

.page-title{
  margin-top: 2vh;
  color: #C9FEF8;
  text-shadow: 1px 2px #47555e;
  font-family: 'Gloria Hallelujah', cursive;
}

/*GALERY*/

.galery-list{
  list-decoration: none;
}